  <h1 class="page-header">微信助手设置</h1>
<div class="panel panel-default margin-sy">
		      <!-- Default panel contents -->
		      <div class="panel-heading">
		      		<strong>设置参数列表</strong>
			  </div>
			</div>
<table class="table table-hover">
		        <thead>
		          <tr>
		            <th>编号</th>
		            <th>选项名称</th>
		            <th>选项值</th>
		            <th>选项描述</th>
					<th>操作</th>
		          </tr>
		        </thead>
		        <tbody>
		        	<foreach  name="syslist" item="vo" key="k">
				<tr>
		            <th scope="row" class="Auto_ID"><{$vo.id}></th>
		            <td><span class="label label-danger"><{$vo.zc_key}></span></td>
		            <td>
		            	<span class="label label-default"><{$vo.zc_val}></span>
					</td>
		            <td>
						<span class="label label-default"><{$vo.zc_descript}></span>
					</td>
					<td>
						<a href="javascript:void(0);" class="btn btn-default btn-xs">修改</a>
					</td>
		          </tr>
				  </foreach>
				 </tbody>
		      </table>
