  <h1 class="page-header">微信用户中心</h1>
<div class="panel panel-default margin-sy">
  <!-- Default panel contents -->
  <div class="panel-heading" style="height:50px;">
  	<div class="pull-left">当前用户列表</div>
	<div class="pull-right">
		<form method="post" name="userInfoForm">
			<a type="button" class="btn btn-success" id="UpdateWeChatUserBtn" href="__URL__/UpdateUserList">更新用户信息</a>
			<input type="hidden" value="STOUIOID0x000" name="wid">
			<input type="hidden" value="studioit" name="token">
			<input type="hidden" value="dzCWxyJLTFCVcHEXcQB1j9NZcfMVUR4MovLdP6Pa5ix" name="encodingaeskey">
			<input type="hidden" value="wxd3efc43c9d32fc92" name="appid">
			<input type="hidden" value="14926261c374d50c7894122133690338" name="appsecret">
		</form>
	</div>
  </div>
</div>


			<table class="table table-hover">
		        <thead>
		          <tr>
		            <th>编号</th>
					<th>头像</th>
		            <th>用户昵称</th>
		            <th>性别</th>
		            <th>分组</th>
					<th>国家/城市/地区</th>
					<th>关注时间</th>
					<th>备注</th>
					<th>操作</th>
		          </tr>
		        </thead>
		        <tbody>
		<foreach  name="wulist" item="vo" key="k">
				<tr>
				            <th scope="row" class="Auto_ID">0</th>
				            <td><img src="<{$vo.headimgurl}>" width="41" height="41" /></td>
				            <td><{$vo.nickname}></td>
				            <td>
								<if condition=" $vo.sex eq 0">女
									<elseif condition="$vo.sex eq 1"/>男
									<else />未知
								</if>
							</td>
							<td><{$vo.groupid}></td>
							<td><{$vo.country}>/<{$vo.province}>/<{$vo.city}></td>
							<td><{$vo.subscribe_time|date="Y-m-d H:i",###}></td>
							<td><{$vo.remark}></td>
							<td>
								<a href="javascript:void(0);" class="btn btn-default btn-xs">编辑</a>
								<a href="javascript:void(0);" class="btn btn-primary btn-xs">删除</a>
							</td>
				 </tr>
		</foreach>
			       </tbody>
		      </table>

	<ul class="pagination pull-right">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">«</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">»</span>
          </a>
        </li>
      </ul>

</nav>