<h1 class="page-header">微信自动回复设置</h1>
<div class="panel panel-default margin-sy">
      <!-- Default panel contents -->
      <div class="panel-heading">
	  	<a href="javascript:void(0);" id="AddAutoKeyWorkBtn" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#AddKeyWordBtn" data-whatever="@mdo">添加文本回复</a>
		<a href="javascript:void(0);" id="AddAutoKeyWorkBtn" class="btn btn-success btn-sm" data-toggle="modal" data-target="#AddKeyWordBtn" data-whatever="@mdo">添加图文回复</a>
		（PS:添加新回复的关键词）
	  </div>
</div>
  <ul id="myTabs" class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">普通关键字回复</a></li>
      <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">图文关键字回复</a></li>

    </ul>

	<div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
		<table class="table table-hover">
		        <thead>
		          <tr>
		            <th>编号</th>
		            <th>关键词</th>
		            <th>类别</th>
		            <th>描述/内容</th>
					<th>操作</th>
		          </tr>
		        </thead>
		        <tbody>
				<tr>
		            <th scope="row" class="Auto_ID">0</th>
		            <td><span class="label label-danger">测试</span></td>
		            <td>
		            	<span class="label label-default">普通消息</span>		            </td>
		            <td>
						<span class="label label-default">看看</span>					</td>
					<td>
						<a href="javascript:void(0);" class="btn btn-default btn-xs">编辑</a>
						<a href="javascript:void(0);" class="btn btn-primary btn-xs">删除</a>
					</td>
		          </tr>
				</tbody>
		</table>
	  </div>
      <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
       <table class="table table-hover">
		        <thead>
		          <tr>
		            <th>编号</th>
		            <th>关键词</th>
		            <th>类别</th>
		            <th>描述/内容</th>
					<th>操作</th>
		          </tr>
		        </thead>
		        <tbody>
				<tr>
		            <th scope="row" class="Auto_ID">0</th>
		            <td><span class="label label-danger">测试</span></td>
		            <td>
		            	<span class="label label-default">普通消息</span>		            </td>
		            <td>
						<span class="label label-default">看看</span>					</td>
					<td>
						<a href="javascript:void(0);" class="btn btn-default btn-xs">编辑</a>
						<a href="javascript:void(0);" class="btn btn-primary btn-xs">删除</a>
					</td>
		          </tr>
				</tbody>
		</table>
	  </div>


    </div>

