<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>欧亚起点公益</title>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <load href="__PUBLIC__/vux/vux.css" />
    <load href="__PUBLIC__/vux/cu-vux.css" />
    <load href="__PUBLIC__/vux/vue.min.1.0.18.js" />
    <load href="__PUBLIC__/zc/qscui.css" />
    <load href="__PUBLIC__/zc/upgrade.css" />
</head>
<body>
<div class="swiper-container qsc-tab tab-fixed home-navbar swiper-container-horizontal swiper-container-free-mode swiper-container-android">
    <ul class="swiper-wrapper tab-item">
        <li class="swiper-slide active swiper-slide-active" style="width: 143px;">
            <a href="/index/index/recommend">精选项目</a>
        </li>
        <li class="swiper-slide swiper-slide-next" style="width: 143px;">
            <a href="/index/index/sale">尝鲜预售</a>
        </li>
        <li class="swiper-slide" style="width: 143px;">
            <a href="/index/index/dream">梦想清单</a>
        </li>
    </ul>
</div>



<div class="content-fixed top mod-home bottom">
    <div class="tab-content">
        <div class="swiper-container home-banner swiper-container-horizontal swiper-container-android">
            <div class="swiper-wrapper" style="transform: translate3d(-820.5px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0">
                <a href="http://m.qschou.com/insurance/guide.html" title="查看项目"><img src="http://images.qingsongchou.com/files/banner/146098305351197cbe4e.png" alt="查看项目" width="100%"></a>
            </div>
                <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0">
                    <a href="http://m.qschou.com/insurance/guide.html" title="查看项目"><img src="http://images.qingsongchou.com/files/banner/146098305351197cbe4e.png" alt="查看项目" width="100%"></a>
                </div>
                <div class="swiper-slide swiper-slide-duplicate swiper-slide-active" data-swiper-slide-index="0">
                    <a href="http://m.qschou.com/insurance/guide.html" title="查看项目"><img src="http://images.qingsongchou.com/files/banner/146098305351197cbe4e.png" alt="查看项目" width="100%"></a>
                </div></div>
            <div class="swiper-pagination swiper-pagination-clickable"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span></div>
        </div>
        <div role="tabpanel" class="tab-pane fade in active ajax-loading data-number=10 J_tpl">
            
            <div class="mod-project-card card-type-1 item" data-pager="1" data-limit="0">
                <a href="/project/a86479dd-40e0-49c1-a9d4-7e79a5577df0">
                    <div class="mod-project-card_header clearfix">
                        <div class="mod-project-card_header__avatar">
                            <img class="lazy-load" src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEJnLSlpjK3wpLGZ02l0ak5Jo9EerwQMZDE4zz8xIicfPzIWPCDZMyaY0HywS5uicb90VGpWw0hH00oQ/96" data-original="http://wx.qlogo.cn/mmopen/PiajxSqBRaEJnLSlpjK3wpLGZ02l0ak5Jo9EerwQMZDE4zz8xIicfPzIWPCDZMyaY0HywS5uicb90VGpWw0hH00oQ/96" width="24" height="24" alt="育蜂人派大星" style="display: inline;">
                        </div>
                        <div class="mod-project-card_header__user">
                            <span>育蜂人派大星</span>
                            <em class="mod-project-card_header__time">2周前</em>
                        </div>
                    </div>
                    <div class="mod-project-card_content">
                        <header class="mod-project-card_content__header">
                            <h2>三十年的等待，一个家庭和良心蜜的故事，养蜂人生活揭秘。</h2>
                        </header>
                        <div class="mod-project-card_content__detail">
                            <p class="description">
                                关于众筹我要讲个故事：1.父亲站在我家屋前洒满阳光的空地上，一个多月后，那里将鲜花盛开。“ </p>
                            <div class="mod-project-card_content__img clearfix">
                                <img class="lazy-load" src="http://images.qingsongchou.com/files/qschou.com/project/544/a86479dd-40e0-49c1-a9d4-7e79a5577df0/thumb_14611184941998164314.jpg" data-original="http://images.qingsongchou.com/files/qschou.com/project/544/a86479dd-40e0-49c1-a9d4-7e79a5577df0/thumb_14611184941998164314.jpg" width="25%" alt="三十年的等待，一个家庭和良心蜜的故事，养蜂人生活揭秘。" style="display: block;">
                                <img class="lazy-load" src="http://images.qingsongchou.com/files/qschou.com/project/544/a86479dd-40e0-49c1-a9d4-7e79a5577df0/thumb_1461118564666620c7d0.jpg" data-original="http://images.qingsongchou.com/files/qschou.com/project/544/a86479dd-40e0-49c1-a9d4-7e79a5577df0/thumb_1461118564666620c7d0.jpg" width="25%" alt="三十年的等待，一个家庭和良心蜜的故事，养蜂人生活揭秘。" style="display: block;">
                                <img class="lazy-load" src="http://images.qingsongchou.com/files/qschou.com/project/544/a86479dd-40e0-49c1-a9d4-7e79a5577df0/thumb_14611185729088074fa3.jpg" data-original="http://images.qingsongchou.com/files/qschou.com/project/544/a86479dd-40e0-49c1-a9d4-7e79a5577df0/thumb_14611185729088074fa3.jpg" width="25%" alt="三十年的等待，一个家庭和良心蜜的故事，养蜂人生活揭秘。" style="display: block;">
                                <img class="lazy-load" src="http://images.qingsongchou.com/files/qschou.com/project/544/a86479dd-40e0-49c1-a9d4-7e79a5577df0/thumb_146111858080390c0994.jpg" data-original="http://images.qingsongchou.com/files/qschou.com/project/544/a86479dd-40e0-49c1-a9d4-7e79a5577df0/thumb_146111858080390c0994.jpg" width="25%" alt="三十年的等待，一个家庭和良心蜜的故事，养蜂人生活揭秘。" style="display: block;">
                            </div>
                        </div>
                        <div class="mod-project-card_content__supporter clearfix">
                            <strong>
                                <span><img class="lazy-load" src="http://wx.qlogo.cn/mmopen/l2prPWZgAicOAOOicvQH3GnjxAVQW5MzC5t4R3XCYdZcxvb9tsdMODQxFr4O3MtLhA9HfiaSN7mYZBVoCud5FPeCpY8HaUKxY6D/96" data-original="http://wx.qlogo.cn/mmopen/l2prPWZgAicOAOOicvQH3GnjxAVQW5MzC5t4R3XCYdZcxvb9tsdMODQxFr4O3MtLhA9HfiaSN7mYZBVoCud5FPeCpY8HaUKxY6D/96" width="24" style="display: inline;"></span>
                                <span><img class="lazy-load" src="http://static.qingsongchou.com/img/grey.png" data-original="http://static.qingsongchou.com/img/grey.png" width="24" style="display: inline;"></span>
                                <span><img class="lazy-load" src="http://wx.qlogo.cn/mmopen/hs1dXA7OicRXj7D3KbUIN3w320vibju2rNqqGQ1AJhcWnK5sYbOgTLl22pehRnSU1Hlyb3sMPTOmA4TjO295ibjFrrYdSicoG6OE/96" data-original="http://wx.qlogo.cn/mmopen/hs1dXA7OicRXj7D3KbUIN3w320vibju2rNqqGQ1AJhcWnK5sYbOgTLl22pehRnSU1Hlyb3sMPTOmA4TjO295ibjFrrYdSicoG6OE/96" width="24" style="display: inline;"></span>
                                <span><img class="lazy-load" src="http://static.qingsongchou.com/img/grey.png" data-original="http://static.qingsongchou.com/img/grey.png" width="24" style="display: inline;"></span>
                                <span><img class="lazy-load" src="http://static.qingsongchou.com/img/grey.png" data-original="http://static.qingsongchou.com/img/grey.png" width="24" style="display: inline;"></span>
                                <span><img class="lazy-load" src="http://wx.qlogo.cn/mmopen/CkBYF6IYNs3IjYxCPB0Z9txojcPkkq1bbzh4fR3UoG7cFZaw7MmyCAMN0rXScTBZXVrWU0ibu2b1PecYwPrvOxvDqTxJLN0BS/96" data-original="http://wx.qlogo.cn/mmopen/CkBYF6IYNs3IjYxCPB0Z9txojcPkkq1bbzh4fR3UoG7cFZaw7MmyCAMN0rXScTBZXVrWU0ibu2b1PecYwPrvOxvDqTxJLN0BS/96" width="24" style="display: inline;"></span>
                                <span><img class="lazy-load" src="http://wx.qlogo.cn/mmopen/FamwZQibvadyzv5tD9kPic3yZze3Sl4uQVia4dTYcsG9Y6KQN23wQORKvSjLonQ3a82UH2qwt4ySgMWEnBFDlMDDKtHDnQM7Gst/96" data-original="http://wx.qlogo.cn/mmopen/FamwZQibvadyzv5tD9kPic3yZze3Sl4uQVia4dTYcsG9Y6KQN23wQORKvSjLonQ3a82UH2qwt4ySgMWEnBFDlMDDKtHDnQM7Gst/96" width="24" style="display: inline;"></span>
                                <span><img class="lazy-load" src="http://wx.qlogo.cn/mmopen/TqF5M9icicMRq74QRUzItcic90jVZhKUicfQvDn7BkVQLr5WljNLL5J4dIt24HwOwQtLm1Jt9dIzGHQg8ySSU808cONsib9Vcu1OW/96" data-original="http://wx.qlogo.cn/mmopen/TqF5M9icicMRq74QRUzItcic90jVZhKUicfQvDn7BkVQLr5WljNLL5J4dIt24HwOwQtLm1Jt9dIzGHQg8ySSU808cONsib9Vcu1OW/96" width="24" style="display: inline;"></span>
                                <span><img class="lazy-load" src="http://wx.qlogo.cn/mmopen/AkLbgrI0CCkXMwxLhtYiaa3X1icgpbPoLsBOa83GjnBX7g7sAjPXWNTWrwYWNPjTgNNibcBxp3OCmvcTEIUZVLJ10VFANAQTqEj/96" data-original="http://wx.qlogo.cn/mmopen/AkLbgrI0CCkXMwxLhtYiaa3X1icgpbPoLsBOa83GjnBX7g7sAjPXWNTWrwYWNPjTgNNibcBxp3OCmvcTEIUZVLJ10VFANAQTqEj/96" width="24" style="display: inline;"></span>
                                <span><img class="lazy-load" src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEK9wQ9qK1mPY9DYcDNib1ONIfgK3SCs0rOznyPsW0ibBSQkPd3eOdKN5MpSu5okQnBdkuOVAvhDN1zg/96" data-original="http://wx.qlogo.cn/mmopen/PiajxSqBRaEK9wQ9qK1mPY9DYcDNib1ONIfgK3SCs0rOznyPsW0ibBSQkPd3eOdKN5MpSu5okQnBdkuOVAvhDN1zg/96" width="24" style="display: inline;"></span>
                                <span><img class="lazy-load" src="http://wx.qlogo.cn/mmopen/AkLbgrI0CCkXMwxLhtYiaa5ibXia5uM2ugiaUro1wQBMHWYdI3GKURdbbot601aXic3bfwHjFKaibibuPb8icCVWcrImxD8BlzhuZVZ6/96" data-original="http://wx.qlogo.cn/mmopen/AkLbgrI0CCkXMwxLhtYiaa5ibXia5uM2ugiaUro1wQBMHWYdI3GKURdbbot601aXic3bfwHjFKaibibuPb8icCVWcrImxD8BlzhuZVZ6/96" width="24" style="display: inline;"></span>
                                <span><img class="lazy-load" src="http://wx.qlogo.cn/mmopen/Q3auHgzwzM6avr1RQbV4jpOiab5wSLxzwLnnPopDM9lMEZ9oYYzc8QKyfbs5oKWBRVicjNv4IBGwo3N2Q5XGQwqw/96" data-original="http://wx.qlogo.cn/mmopen/Q3auHgzwzM6avr1RQbV4jpOiab5wSLxzwLnnPopDM9lMEZ9oYYzc8QKyfbs5oKWBRVicjNv4IBGwo3N2Q5XGQwqw/96" width="24" style="display: inline;"></span>
                            </strong>
                            <span>已有 <strong>157</strong> 人支持</span>
                        </div>
                        <div class="mod-project-card_content__status clearfix">
                            <span><i class="icon icon-aims"></i>目标<strong>16000</strong>元</span>
                            <span><i class="icon icon-already"></i>已筹<strong>15428</strong>元</span>
                            <span><i class="icon icon-supporter"></i>剩余<strong>14</strong>天</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="loading" id="loading">
                <a href="/index/index/recommend/2" data-remote="true" onclick="return false;"><i></i>正在加载更多</a>
            </div>
        </div>
    </div>
</div>


</body>
</html>