<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta author="BarneyX" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>微信助手-后台管理中心-众筹</title>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <load href="__PUBLIC__/css/dashboard.css" />
	<load href="__PUBLIC__/css/bootstrap-datetimepicker.min.css" />
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="__PUBLIC__/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <js href="__PUBLIC__/js/jquery-2.0.2.js" />
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="http://v3.bootcss.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <js href="__PUBLIC__/js/pub_func.js" />
  </head>

  <body>
	<include file='Public/header' />
    <div class="container-fluid">
      <div class="row">
			<include file='Public/nav' />
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header" xmlns="http://www.w3.org/1999/html">微信助手-功能中心</h1>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">众筹应用-项目主体介绍,这里的内容将在众筹的前台显示!一般情况下这里的内容是对当前您的众筹进行介绍</h3>
            </div>
            <div class="panel-body">
              <h5>
                <h5><span style="font-weight:bold;">项目编号:</span>&nbsp;&nbsp;<{$objinfo.oid}>&nbsp;&nbsp;</h5>
                <h5><span style="font-weight:bold;">项目创建日期:</span>&nbsp;&nbsp;<{$objinfo.cdt|date="Y-m-d H:i",###}>&nbsp;&nbsp;</h5>
                <h5><span style="font-weight:bold;"> 项目名称:</span>&nbsp;&nbsp;<{$objinfo.cname}></h5>
              </h5>
            </div>
          </div>
          <script type="text/javascript"> $(function(){ var ue = UE.getEditor('container',{ initialFrameHeight:400 }); }) </script>
          <include file='Public/uedit' />

          <a id="getcontent" class="btn btn-primary pull-left" style="margin-top:20px;" href="javascript:void(0);" >确认添加</a>

          <script type="text/javascript">
            $(function(){
              $("#getcontent").click(function(){
                UeditContentPost(
                        {'oid':'<{$objinfo.oid}>','cdt':'<{$objinfo.cdt}>','pdt':'<{:time()}>','cname':'<{$objinfo.cname}>','body':getUEFormatBody()},
                        "__URL__/AddProjectBody",
                        function(data){
                          alert(data.status);
                        },function(){
                          alert("ERROR!!");
                        }
                )
              });
            })
          </script>

        </div>
      </div>
    </div>


	<script src="__PUBLIC__/js/locales/bootstrap-datetimepicker.fr.js"></script>
	<script src="__PUBLIC__/js/bootstrap-datetimepicker.min.js" ></script>
	<script src="__PUBLIC__/js/zc-crowdfunding.js"></script>
  </body>
</html>
