<h1 class="page-header" xmlns="http://www.w3.org/1999/html">微信助手-功能中心</h1>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">众筹应用-项目主体介绍,这里的内容将在众筹的前台显示!一般情况下这里的内容是对当前您的众筹进行介绍</h3>
    </div>
    <div class="panel-body">
        <h5>
           <h5><span style="font-weight:bold;">项目编号:</span>&nbsp;&nbsp;<{$objinfo.oid}>&nbsp;&nbsp;</h5>
           <h5><span style="font-weight:bold;">项目创建日期:</span>&nbsp;&nbsp;<{$objinfo.cdt|date="Y-m-d H:i",###}>&nbsp;&nbsp;</h5>
           <h5><span style="font-weight:bold;"> 项目名称:</span>&nbsp;&nbsp;<{$objinfo.cname}></h5>
        </h5>
    </div>
</div>
<script type="text/javascript"> $(function(){ var ue = UE.getEditor('container',{ initialFrameHeight:400 }); }) </script>
<include file='Public/uedit' />

<a id="getcontent" class="btn btn-primary pull-left" style="margin-top:20px;" href="javascript:void(0);" >确认添加</a>

<script type="text/javascript">
   $(function(){
       $("#getcontent").click(function(){
           UeditContentPost(
                  {'oid':'<{$objinfo.oid}>','cdt':'<{$objinfo.cdt}>','pdt':'<{:time()}>','cname':'<{$objinfo.cname}>','body':getUEFormatBody()},
                   "__URL__/AddProjectBody",
                   function(data){
                      alert(data.status);
                   },function(){
                       alert("ERROR!!");
                   }
           )
       });
   })
</script>