<h1 class="page-header">微信助手-功能中心</h1>
<div class="panel panel-default margin-sy">
  <!-- Default panel contents -->
  <div class="panel-heading" style="height:50px;">
  	<div class="pull-left">众筹应用-众筹项目列表</div>
	<div class="pull-right">
		<form method="post" name="userInfoForm">
			<a type="button" class="btn btn-success" id="UpdateWeChatUserBtn" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">新建项目</a>
			<input type="hidden" value="STOUIOID0x000" name="wid">
			<input type="hidden" value="studioit" name="token">
			<input type="hidden" value="dzCWxyJLTFCVcHEXcQB1j9NZcfMVUR4MovLdP6Pa5ix" name="encodingaeskey">
			<input type="hidden" value="wxd3efc43c9d32fc92" name="appid">
			<input type="hidden" value="14926261c374d50c7894122133690338" name="appsecret">
		</form>
	</div>
  </div>
</div>
  <ul id="myTabs" class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">项目列表</a></li>
      <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">众筹设置</a></li>
	  <li role="presentation"><a href="#zctrash" role="tab" id="profile-tab" data-toggle="tab" aria-controls="zctrash">众筹回收站</a></li>

    </ul>

	<div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">

			<table class="table table-hover">
		        <thead>
		          <tr>
		            <th>编号</th>
					<th>项目状态</th>
		            <th>项目名称</th>
		            <th>目标/进度</th>
					<th>关注人数</th>
					<th>创建时间</th>
					<th>结束日期</th>
					<th>文章总数</th>
					<th>回复总数</th>
					<th><center>操作</center></th>
		          </tr>
		        </thead>
		        <tbody>

			<foreach  name="objlist" item="vo" key="k">
				<tr>
		            <th scope="row" class="Auto_ID"><{$vo.id}></th>
					<td><span >
		            <if condition=" $vo.status eq 0">不可用
									<elseif condition="$vo.status eq 1"/>可用
									<else />未知
					</if>
					</span></td>
		            <td>
		            	<span ><{$vo.objname}></span>
					</td>
		            <td>
						<span ><{$vo.goal}>/12.00</span>
					</td>

					<td>
						<span>123人</span>
					</td>

					<td>
						<span ><{$vo.start_time|date="Y-m-d H:i",###}></span>
					</td>
					<td>
						<span ><{$vo.end_time|date="Y-m-d H:i",###}></span>
					</td>

					<td>
						<span ><a href="javascript:void(0);" class="btn btn-default btn-xs">23</a></span>
					</td>

					<td>
						<span >323</span>
					</td>
					<td>
						<button class="btn btn-default btn-xs" data-toggle="modal" data-target=".bs-example-modal-sm" >生成二维码</button>
						<a href="javascript:void(0);" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="参与本次活动的所有用户">用户列表</a>
						<a href="__URL__/addBodyIndex/oid/<{$vo.id}>/cdt/<{$vo.start_time}>/cname/<{$vo.objname|urlencode=###}>" data-toggle="tooltip" data-placement="top" title="应用的主体内容,是对当前活动的主体介绍,是用户的第一视角点" class="btn btn-success btn-xs">主体介绍</a>
						<a href="__URL__/AddObjArcData/oid/<{$vo.id}>" class="btn btn-info btn-xs"  data-toggle="tooltip" data-placement="top" title="用户主体下面的扩展阅读文章,可选内容" >文章管理</a>
						<a href="javascript:void(0);" class="btn btn-primary btn-xs">修改设置</a>
						<a href="javascript:void(0);" class="btn btn-danger btn-xs">删除</a>
					</td>
		          </tr>
			</foreach>

				 </tbody>
		      </table>
	  </div>
      <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
       asdf
	  </div>
	  <div role="tabpanel" class="tab-pane fade" id="zctrash" aria-labelledby="profile-tab">
       asdf123
	  </div>

    </div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
		</div>
	</div>
</div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
      	<form method="post" action="__URL__/AddProject">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">新建众筹项目</h4>
          </div>
          <div class="modal-body">

              <div class="form-group">
                <label for="recipient-name" class="control-label">项目名称:</label>
                <input type="text" class="form-control" id="recipient-name" name="objname" placeholder="新建项目">
    		  </div>

    		  <div class="form-group">
    			 <label for="recipient-name" class="control-label">项目目标:</label>
    			 <label class="sr-only" for="exampleInputAmount">总额 (请输入数字)</label>　
    		     <div class="input-group">
    		      <div class="input-group-addon">￥</div>
    		      <input type="text" class="form-control" id="exampleInputAmount" name="goal" placeholder="总额　666.6666">
    		      <div class="input-group-addon">.00</div>
    		    </div>
    		  </div>

    		  <div class="form-group">
    			 <label for="recipient-name" class="control-label">结束日期</label>
                 <div class="input-group date form_datetime" data-date="2012-05-15 21:05" data-date-format="yyyy-MM-dd HH:ii" data-link-field="dtp_input1">
                    <input class="form-control" size="16" type="text" value="" name="end_time" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
    				<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                 </div>
              </div>
              <div class="form-group">
                <label for="message-text" class="control-label">项目简要描述</label>
                <textarea class="form-control" id="message-text" name="descript" placeholder="项目简要描述 ......."></textarea>
    			<input type="hidden" value="<{$create_time}>" name="start_time" />
    			<input type="hidden" value="1" name="status" />
              </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    		<input type="submit" class="btn btn-primary" value="确认新建" />
          </div>
        </div>
    	</form>
      </div>
</div>